<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Arron Rees | Web Development</title>
  <script src="https://kit.fontawesome.com/83ba9deb1d.js" crossorigin="anonymous"></script>
</head>

<body data-barba="wrapper">

  <div id="overflow">

    <div class="page-card"></div>
    <div class="page-card"></div>
    <div class="page-card"></div>

    <div class="wrapper" data-barba="container" data-barba-namespace="home">

      <div class="cursor"></div>

      <div class="cube">
        <div class="face face-front"></div>
        <div class="face face-left"></div>
        <div class="face face-back"></div>
        <div class="face face-top"></div>
        <div class="face face-right"></div>
        <div class="face face-bottom"></div>
      </div>

      <header>
        <nav class="nav-bar">
          <ul class="nav-menu">
            <li class="nav-item">
              <a class="nav-link sm-cursor" href="./work.html">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sm-cursor" href="./about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sm-cursor" href="./contact.html">Contact</a>
            </li>
          </ul>
        </nav>
      </header>

      <main>
        <div class="home-hero">
          <h1 class="title lg-cursor">Arron Rees</h1>
          <h2 class="dev lg-cursor">Web Development</h2>
        </div>
      </main>

    </div>

  </div>

</body>

</html>