<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Arron Rees | Web Development</title>
  <script src="https://kit.fontawesome.com/83ba9deb1d.js" crossorigin="anonymous"></script>
</head>

<body data-barba="wrapper">

  <div id="overflow">

    <div class="page-card"></div>
    <div class="page-card"></div>
    <div class="page-card"></div>

    <div class="wrapper" data-barba="container" data-barba-namespace="work">

      <div class="cursor"></div>

      <header>
        <nav class="nav-bar">
          <ul class="nav-menu">
            <li class="nav-item">
              <a class="nav-link sm-cursor" href="./index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sm-cursor" href="./about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sm-cursor" href="./contact.html">Contact</a>
            </li>
          </ul>
        </nav>
      </header>

      <main>

        <section class="projects">

          <div class="page-hero">
            <h1 class="lg-cursor">Work</h1>
          </div>

          <div class="cards">
            <div class="card card0 trigger">
              <img src="../assets/project-1.jpg" alt="#">
              <div class="card-text card-text1">
                <h4>Photography Portfolio</h4>
                <p>A static, responsive photography portfolio website. Built using HTML, CSS and Javascript. Animations
                  created in CSS and using GSAP. GSAP ScrollTrigger is used to activate each photo to appear.
                </p>
                <a target="blank" href="https://github.com/arronrees/example-photography-portfolio"><i
                    class="fab fa-github"></i>See
                  the code</a>
                <a target="blank" href="https://ar-photo.netlify.app/"><i class="fas fa-cloud"></i>See
                  the site</a>
              </div>
              <div class="open open1">
                <i class="fas fa-angle-left"></i>
              </div>
            </div>
            <div class="card card1 trigger">
              <img src="../assets/project-2.jpg" alt="#">
              <div class="card-text card-text2">
                <h4>Pokemon Generator</h4>
                <p>Click to load Pokemon. Built using HTML, CSS and Javascript. Most of the HTML is generated through
                  Javascript. Uses the Fetch API and Async Await to gather Pokemon data from pokeapi.co. Cycles through
                  available Pokemon and displays their picture, name and abilities to the user.</p>
                <a target="blank" href="https://github.com/arronrees/pokemon-generator"><i class="fab fa-github"></i>See
                  the code</a>
                <a target="blank" href="https://pokemon-generator.netlify.app/"><i class="fas fa-cloud"></i>See
                  the site</a>
              </div>
              <div class="open open2">
                <i class="fas fa-angle-left"></i>
              </div>
            </div>
            <div class="card card2 trigger">
              <img src="../assets/project-3.jpg" alt="#">
              <div class="card-text card-text3">
                <h4>Character Search</h4>
                <p>Search for any character in Middle Earth. Built using the Javascript Fetch API and Async Await to
                  gather and present
                  data from the-one-api.dev. Allows the user to input a character name. It will search the API for all
                  matches and present the name of each matched character. The user can then click on their preferred
                  character and details about the character will appear.</p>
                <a target="blank" href="https://github.com/arronrees/lotr-character-finder"><i
                    class="fab fa-github"></i>See
                  the code</a>
                <a target="blank" href="https://lotr-character.netlify.app/"><i class="fas fa-cloud"></i>See
                  the site</a>
              </div>
              <div class="open open3">
                <i class="fas fa-angle-left"></i>
              </div>
            </div>
            <div class="card card3 trigger">
              <img src="../assets/project-4.jpg" alt="#">
              <div class="card-text card-text4">
                <h4>Rock, Paper, Scissors</h4>
                <p>Play rock, paper, scissors against the computer. Built using HTML, CSS and Javascript.
                  Stores the player's name and scores in local storage and will present this on reload if the user
                  enters
                  the same name. Scores can be reset by clicking the button or if a new name is entered.</p>
                <a target="blank" href="https://github.com/arronrees/rock-paper-scissors"><i
                    class="fab fa-github"></i>See
                  the code</a>
                <a target="blank" href="https://ar-rps.netlify.app/"><i class="fas fa-cloud"></i>See
                  the site</a>
              </div>
              <div class="open open4">
                <i class="fas fa-angle-left"></i>
              </div>
            </div>
          </div>

          <div class="arrows">
            <div class="prev">
              <i class="fas fa-angle-left"></i>
            </div>
            <div class="next">
              <i class="fas fa-angle-right"></i>
            </div>
          </div>

        </section>

      </main>

    </div>

  </div>

</body>

</html>