.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

  p {
    font-family: 'Antic Slab', serif;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 4rem 0;
  }
}

.skills {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin-bottom: 4rem;
}

@media only screen and (min-width: 900px) {
  .about-desc {
    p {
      padding: 4rem 0;
      font-size: 1.5rem;
    }
  }

  .skills {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .skills {
    font-size: 5rem;
  }
}
