@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Josefin+Sans:wght@200;700&display=swap');

body {
  background-color: rgb(18, 20, 22);
  color: white;
  width: 100vw;
  height: 100vh;

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: rgb(18, 20, 22);
  }

  &::-webkit-scrollbar-thumb {
    background: #fff;
  }
}

.wrapper {
  opacity: 0;
}

#overflow {
  overflow-x: hidden !important;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.page-card {
  width: 100%;
  height: 100%;
  background-color: rgb(36, 43, 49);
  position: absolute;
  z-index: 11;
  box-shadow: 0px 0px 50px black;
  pointer-events: none;
}

.nav-bar {
  position: relative;
}
.nav-menu {
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  pointer-events: none;
}
.nav-item {
  pointer-events: all;
  position: relative;
  transform: rotate(90deg);
  font-family: 'Antic Slab', serif;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}

.page-hero {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  padding-top: 2rem;
}

@media only screen and (min-width: 900px) {
  .cursor {
    width: 5px;
    height: 5px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    transition-property: background, width, height;
    background: white;
    z-index: 10;
  }

  .cursor.large-cursor {
    width: 5rem;
    height: 5rem;
    mix-blend-mode: difference;
  }
  .cursor.small-cursor {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 1px solid white;
  }
  .cursor.click-spray {
    animation: spray 0.3s ease;
  }

  @keyframes spray {
    0% {
      width: 5px;
      height: 5px;
      opacity: 1;
    }
    75% {
      width: 4rem;
      height: 4rem;
      background: transparent;
      border: 2px solid white;
    }
    100% {
      opacity: 0;
      border: none;
    }
  }

  .nav-menu {
    position: fixed;
    height: 100vh;
    width: 100vw;
  }
  .nav-item {
    position: absolute;
    width: 10rem;
    height: 4rem;
    overflow: hidden;

    &:nth-child(1) {
      transform: rotate(-90deg);
      top: 4rem;
      left: 0;
    }
    &:nth-child(2) {
      top: 4rem;
      right: 0;
      transform: rotate(90deg);
    }
    &:nth-child(3) {
      bottom: 4rem;
      right: 0;
      transform: rotate(90deg);
    }
  }

  // Sliding Border
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid rgba(145, 185, 221, 0.13);
    transform: translateX(-101%);
    transition: transform 300ms ease;
  }
  .nav-item:hover .nav-link::after {
    transform: translateX(0%);
  }
}
